/* ------------------------------------------------------------------------------

  1.  Global

      1.1 General
      1.2 Typography
      1.3 Buttons
      1.4 Forms
      1.5 Animation

  2.  Preloader
  3.  Header
  4.  Home Personal

	  4.1 Slide Intro
	  4.2 Slide Services
	  4.3 Slide Projects
	  4.4 Slide Awards
	  4.5 Slide Experience
	  4.6 Slide Clients
	  4.7 Slide Testimonials
	  4.8 Slide Contact

  5.  Footer



/*-------------------------------------------------------------------------------
  1. Global
-------------------------------------------------------------------------------*/

/* 1.1 General */
@font-face {
  font-family: "Biker";
  src: url("../fonts/BikerDiamond.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tablet";
  src: url("../fonts/TexasChickenCondensed-Regular.ttf") format("ttf"),
    url("../fonts/TexasChickenCondensed-Regular.woff") format("woff"),
    url("../fonts/TexasChickenCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tablet";
  src: url("../fonts/TexasChickenCondensed-SemiBold.ttf") format("ttf"),
    url("../fonts/TexasChickenCondensed-SemiBold.woff") format("woff"),
    url("../fonts/TexasChickenCondensed-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tablet";
  src: url("../fonts/TexasChickenCondensed-Heavy.ttf") format("ttf"),
    url("../fonts/TexasChickenCondensed-Heavy.woff") format("woff"),
    url("../fonts/TexasChickenCondensed-Heavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #f6b318;
  --alt-color: #9a3324;
  --secondary-color: #663976;
  --dark-main: #2d2a26;
  --dark-alt: #444;
  --light: #fff;
  --grey: #f9fafb;
  --radius: 4px;
  --bs-shadow-sm: 1px 2px 4px 0px #e1e1e1;
  --font-family: "Tablet", sans-serif;
  --heading-font-family: "Biker", sans-serif;
}
html,
body {
  font-size: 14px;
}
body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--dark-main);
}
a,
a:hover {
  color: var(--main-color);
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a.text-primary:focus,
a.text-primary:hover {
  color: var(--main-color) !important;
}
::selection {
  background-color: var(--main-color);
  color: var(--light);
  text-shadow: none;
}
-webkit-::selection {
  background-color: var(--main-color);
  color: var(--light);
  text-shadow: none;
}
::-moz-selection {
  background-color: var(--main-color);
  color: var(--light);
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--main-color);
}
.gy-4 {
  row-gap: 1.25rem;
}
.text-main {
  color: var(--main-color);
}
.text-dark {
  color: var(--dark-main) !important;
}
.text-white {
  color: var(--light);
}
.fw-normal {
  font-weight: 400;
}
.fw-semi {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}
/* Container */
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  .container-fluid {
    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }
}
.full-height {
  min-height: 100vh;
}
/* 1.2 Typography */
.text-white a {
  color: #ffffff;
}
/* 1.3 Buttons */
button:focus,
input:focus {
  outline: none;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem 1rem;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-transform: capitalize !important;
  height: 40px;
  font-size: 18px;
  border-radius: var(--radius);
  font-family: var(--font-family);
  font-weight: 600;
}
.btn:focus {
  box-shadow: none !important;
}
.btn-main {
  color: var(--dark-main);
  background-color: var(--main-color);
  border: 1px solid transparent;
}
.btn-main:hover {
  color: var(--light);
  background-color: var(--alt-color);
}
/* 1.5 Animation */
@-webkit-keyframes fadeZooming {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 0.6);
    transform: scale3d(0.6, 0.6, 0.6);
    margin-left: -12rem;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes fadeZooming {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 0.6);
    transform: scale3d(0.6, 0.6, 0.6);
    margin-left: -12rem;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
.fadeZooming {
  -webkit-animation-name: fadeZooming;
  animation-name: fadeZooming;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -6.5rem, 0);
    transform: translate3d(0, -6.5rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -6.5rem, 0);
    transform: translate3d(0, -6.5rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10rem, 0);
    transform: translate3d(0, 10rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10rem, 0);
    transform: translate3d(0, 10rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10rem, 0, 0);
    transform: translate3d(-10rem, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10rem, 0, 0);
    transform: translate3d(-10rem, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10rem, 0, 0);
    transform: translate3d(10rem, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10rem, 0, 0);
    transform: translate3d(10rem, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
/*-------------------------------------------------------------------------------
  2. Preloader
/* ------------------------------------------------------------------------------- */
.preloader {
  position: fixed;
  overflow: hidden;
  z-index: 999999999;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--light);
  background-image: url("../images/preloader.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/*-------------------------------------------------------------------------------
  3. Header
-------------------------------------------------------------------------------*/
.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.header .container {
  color: var(--dark-main);
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.brand {
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.brand img {
  object-fit: contain;
}
.nav-toggle-btn {
  background: transparent;
  border: none;
  padding: 0 !important;
  margin: 0;
  outline: none;
  position: relative;
  z-index: 995;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
}
.nav-toggle-btn:hover {
  color: var(--alt-color);
}
.nav-toggle-btn:focus {
  outline: none;
}
.nav-toggle {
  display: block;
  width: 32px;
}
.nav-toggle .stick {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 3px;
  background: var(--light);
  transition: all 0.3s;
  position: relative;
}
.body-menu-opened .nav-toggle .stick {
  background-color: var(--dark-main);
}
.body-menu-opened .nav-toggle .stick:last-of-type {
  display: none;
}
.nav-toggle .stick + .stick {
  margin-top: 5px;
}
.body-menu-opened .nav-toggle .stick-1 {
  animation: ease 0.5s top forwards;
}
.nav-toggle .stick-1 {
  animation: ease 0.5s top-2 forwards;
}
.body-menu-opened .nav-toggle .stick-2 {
  animation: ease 0.5s bottom forwards;
}
.nav-toggle .stick-2 {
  animation: ease 0.5s bottom-2 forwards;
}
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 6px;
    transform: rotate(0);
  }
  100% {
    top: 6px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 6px;
    transform: rotate(45deg);
  }
  50% {
    top: 6px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 2px;
    transform: rotate(0);
  }
  100% {
    bottom: 2px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 6px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 6px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #ffffff;
  max-width: 100%;
  width: 100%;
  padding: 4.25rem 4.375rem 4.1875rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.menu .menu-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-main);
}
.body-menu-opened .menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.hide-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 980;
}
.body-menu-opened .hide-menu {
  bottom: 0;
}
@media (min-width: 576px) {
  .menu {
    width: 27.5rem;
  }
  .modal-dialog {
    max-width: 450px;
  }
}
.menu .menu-lang,
.menu .menu-main,
.menu .social,
.menu .menu-footer {
  opacity: 0;
  transform: translateY(3rem);
  transition: all 0.5s ease-in-out;
}
.menu .menu-lang {
  transition-delay: 0.2s;
}
.menu .menu-main {
  transition-delay: 0.4s;
}
.menu .social {
  transition-delay: 0.6s;
}
.menu .menu-footer {
  transition-delay: 0.8s;
}
.body-menu-opened .menu .menu-lang,
.body-menu-opened .menu .menu-main,
.body-menu-opened .menu .social,
.body-menu-opened .menu .menu-footer {
  opacity: 1;
  transform: translateY(0);
}
.menu .menu-lang {
  padding-bottom: 5.875rem;
  padding-bottom: 8.7037037vmin;
}
.menu-lang {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
}
.menu-lang-item {
  display: inline-block;
  margin-right: 1.5rem;
  color: #a3a4a8;
  text-decoration: none;
}
.menu-lang-item.active,
.menu-lang-item:hover {
  color: #1f2044;
  text-decoration: none;
}
.menu-main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1.375rem;
  font-weight: bold;
}
.menu-main > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-main > ul > li {
  margin-bottom: 1.1875rem;
  padding-left: 2px;
}
.menu-main a,
.menu-main a:hover {
  color: var(--dark-main);
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.menu-main .active > a,
.menu-main a:hover {
  color: var(--main-color);
}
.menu-footer {
  padding-top: 3rem;
}
/*-------------------------------------------------------------------------------
  4. Video Slide
-------------------------------------------------------------------------------*/
.slide-video-banner .video-banner {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 50;
  object-fit: cover;
  object-position: 50% 50%;
  display: flex;
}
.slide-video-banner .slide-video-info {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 50%;
  z-index: 60;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  max-width: 100%;
  padding: 0.75rem 2.25rem;
}
.slide-video-banner .slide-video-info .left,
.slide-video-banner .slide-video-info .right {
  flex-shrink: 0;
  min-width: 210px;
}
.slide-video-banner .slide-video-info .right {
  align-self: flex-end;
}
.slide-video-banner .slide-video-info .title {
  text-transform: uppercase;
  color: var(--light);
  font-size: calc(40px + 1.75vw);
  line-height: 0.9;
  margin-bottom: 0;
}
.slide-video-banner .slide-video-info .fs-passion {
  font-size: calc(50px + 2vw);
}
.slide-video-banner .slide-video-info .center {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: -1;
  -webkit-transform: translateX(-56%);
  -moz-transform: translateX(-56%);
  -o-transform: translateX(-56%);
  transform: translateX(-56%);
}
@media (min-width: 1400px) {
  .slide-video-banner .slide-video-info {
    width: 1050px;
  }
  .slide-video-banner .slide-video-info .center {
    width: 45%;
    -webkit-transform: translateX(-58%);
    -moz-transform: translateX(-58%);
    -o-transform: translateX(-58%);
    transform: translateX(-58%);
  }
  .slide-video-banner .slide-video-info .center img {
    width: 100%;
    height: 100%;
  }
}
/*-------------------------------------------------------------------------------
  3. Winners
-------------------------------------------------------------------------------*/
.winners-wrapper {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.winners-wrapper .cong {
  font-size: calc(40px + 1vw);
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.winners-wrapper .title {
  font-size: calc(35px + 1vw);
  line-height: 1;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-weight: 700;
}
.winners-wrapper .desc {
  line-height: 1.2;
  color: var(--dark-main);
  font-weight: 600;
  font-size: 1.25rem;
}
.winners-wrapper .winner-item .winner-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
}
.winners-wrapper .winner-item .winner-info {
  text-align: center;
  padding: 0.75rem;
}
.winners-wrapper .winner-item .winner-name {
  font-weight: 700;
  text-transform: capitalize;
  color: var(--dark-main);
  font-size: calc(20px + 0.25vw);
  line-height: 1;
  margin-bottom: 0.5rem;
}
.winners-wrapper .winner-item .winner-info .desc {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--dark-main);
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0;
}
/*-------------------------------------------------------------------------------
  3. Passion
-------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
  .get-ball .container {
    padding-left: 120px;
    padding-right: 120px;
  }
  .get-ball .circle-ball {
    width: 400px;
    height: 400px;
    bottom: -30%;
    left: -10%;
  }
}
.get-ball .title {
  font-size: calc(40px + 1.5vw);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
@media (min-width: 1400px) {
  .get-ball .container {
    padding-left: 70px;
    padding-right: 70px;
  }
  .get-ball .circle-ball {
    width: 600px;
    height: 600px;
    bottom: -200px;
    left: -200px;
  }
  .get-ball .title {
    font-size: calc(40px + 1vw);
  }
}
.passion-item {
  padding: 1rem 1rem 1.5rem;
  background-color: var(--grey);
  border-radius: calc(var(--radius) * 2);
  display: flex;
  flex-direction: column;
  min-width: 250px;
  text-align: center;
}
.passion-item .passion-item-title {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}
.passion-item .passion-item-desc {
  color: var(--dark-main);
  font-size: 1.2rem;
  line-height: 1.3;
  min-height: 90px;
  font-weight: 600;
  text-align: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-bottom: 0.75rem;
}
/*-------------------------------------------------------------------------------
  3. Miss Chance Section
-------------------------------------------------------------------------------*/
.slide-ready-to-order .bg-fans {
  background-size: cover;
  background-position: 50% 50%;
}
.slide-ready-to-order .info .label {
  font-weight: 400;
  font-size: calc(20px + 1vw);
  margin-bottom: 0;
  line-height: 1;
}
.slide-ready-to-order .info .slide-title {
  color: var(--main-color);
  font-size: calc(45px + 1.5vw);
  margin-bottom: 0.25rem;
  line-height: 1;
}
.slide-ready-to-order .slide-title-sub {
  font-size: 1.5rem;
}
@media (max-width: 991px) {
  .slide-ready-to-order .bg-fans {
    display: none;
  }
  .miss-chance-img {
    position: relative;
    right: -23%;
  }
}
/*-------------------------------------------------------------------------------
  4. Home Personal
-------------------------------------------------------------------------------*/
.content a {
  transition: color 0.3s ease;
}
@media (max-width: 575px) {
  .homepage-personal .container {
    padding-left: 43px;
    padding-right: 43px;
  }
}
#pp-nav.right {
  right: 0;
}
#pp-nav li {
  width: auto;
  height: auto;
  margin: 0.5rem;
}
#pp-nav li a {
  display: block;
  padding: 0.375rem;
}
#pp-nav span {
  display: block;
  position: static;
  width: 12px;
  height: 12px;
  border: none;
  background-color: #e3e3e3;
  transition: background-color 0.3s ease-in-out;
}
#pp-nav a:hover span {
  background-color: #aaaaaa;
}
#pp-nav li .active span {
  background-color: var(--main-color);
}
@media (min-width: 1600px) {
  #pp-nav.right {
    right: 3.5rem;
  }
}
.pp-scrollable {
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.slide-dark {
  background-color: #f5f4f0;
}
.slide-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}
.slide-container > .container {
  position: relative;
  z-index: 200;
}
.slide-container.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}
.slide-container.overlay.white::before {
  background-color: rgba(255, 255, 255, 0.5);
}
.slide-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: var(--font-family);
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 700;
}
.slide-descr {
  color: var(--dark-main);
  font-size: 1.25rem;
  line-height: 1.3;
}
.text-white .slide-descr {
  color: #ffffff;
}
.website-qr {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.section:not(.active) .animate-element {
  animation-name: none;
}
.section.active .animate-element {
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
.section.active .delay1 {
  animation-delay: 0.1s;
}
.section.active .delay2 {
  animation-delay: 0.2s;
}
.section.active .delay3 {
  animation-delay: 0.3s;
}
.section.active .delay4 {
  animation-delay: 0.4s;
}
.section.active .delay5 {
  animation-delay: 0.5s;
}
.section.active .delay6 {
  animation-delay: 0.6s;
}
.section.active .delay7 {
  animation-delay: 0.7s;
}
.section.active .delay8 {
  animation-delay: 0.8s;
}
.section.active .delay9 {
  animation-delay: 0.9s;
}
.section.active .delay10 {
  animation-delay: 1s;
}
[class^="circle-"],
[class*=" circle-"] {
  border-radius: 70.625rem;
  transition: all 0.7s ease-in-out;
}
.transformLeft {
  transform: translate(-100%, 0);
  opacity: 0;
}
.transformRight {
  transform: translate(100%, 0);
  opacity: 0;
}
.active .transformLeft,
.active .transformRight {
  transform: translate(0%, 0);
  opacity: 1;
}
/* 4.1 Slide Intro */
.slide-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.slide-photo {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.circle-ball {
  width: 300px;
  height: 300px;
  bottom: -150px;
  top: auto;
  left: -120px;
  right: auto;
}


/*-------------------------------------------------------------------------------
  5. Footer
-------------------------------------------------------------------------------*/
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.3125rem;
}
.social li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.social a {
  color: #ced4da;
  transition: color 0.3s ease;
}
.social a:hover {
  color: var(--dark-main);
}
.copyright {
  text-align: right;
  color: #ced4da;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.body-copyright-light .copyright {
  color: rgba(255, 255, 255, 0.6);
}
.body-menu-opened .body-bg-dark .nav-toggle .stick {
  background: var(--light);
}
.message {
  display: none;
}
@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
/* Start of Social Icons */
.social-icons {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.social-icons .social svg {
  width: 18px;
  height: 18px;
  color: var(--dark-main);
  opacity: 0.75;
}
